<!DOCTYPE html>
<html>
<head>

	<title>BayMonitoring</title>
	<!-- <script>
        var socket = new io.Socket();
        socket.connect();
        // etc
    </script> -->
</head>
<body>
<center><h1>BayMonitoring</h1></center>
<ul>
<li><a href="/api/bay" >Bay API</a></li><br>
<li><a href="/api/bay/27/tools" >Tool API with bay id 1</a></li><br>
<li><a href="/api/projects/" >Project List API</a></li><br>
<li><a href="/api/user/user_info/" >User Info API</a></li><br>
<li><a href="/api/user/usergroup/" >User Group Info API</a></li><br>

</ul>
</body>
</html>
